[{{ .host }}] Image Optimization:
{{- $value := index .result "imageOptimization" }}
{{- $allowed := index .vars "allowed_values" }}

{{- if or (not $allowed) (eq (len $allowed) 0) }}
{{ $value }}
{{- else }}
  {{- $found := false }}
  {{- range $allowed }}
    {{- if eq $value . }}
      {{- $found = true }}
    {{- end }}
  {{- end }}

  {{- if $found }}
OK
  {{- else }}
FAIL - imageOptimization is '{{ $value }}', expected one of: {{ range $i, $v := $allowed }}{{ if $i }}, {{ end }}{{ $v }}{{ end }}
  {{- end }}
{{- end }}
